// -----------------------------------------------------------------------------
// Basic styles
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Reset default padding and margin on block elements
 */
 h1, h2, h3, h4, p, ul, li {
  padding: 0;
  margin: 0;
}

/**
 * Make images responsive
 * 1. Image will never scale up larger than its original size
 */
img {
  max-width: 100%; /* 1 */
  height: auto;
}

/**
 * Stops picture element having height outside of child img
 */
picture {
  display: block;
  font-size: 0;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  font-weight: 300;

  @include on-event {
    // text-decoration: underline;
    // font-weight: 400;
    color: $dark-grey;
  }
}

ul {
  list-style: none;
}