// -----------------------------------------------------------------------------
// Header styles & layout
// -----------------------------------------------------------------------------

//
// Mobile view header
// ==========================================================================

.header {
  @include flex;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}


.header__title {
  font-size: 1.2rem;
  max-width: 150px;
}


.header__title--small {
  font-size: 1rem;
  font-weight: 400;
}


.header__nav {
  display: none;
}


//
// Medium screens
// ==========================================================================

@media (min-width: $bp-medium) {
  
  .header__title {
    font-size: 1.8rem;
    max-width: 210px;
  }
  
  
  .header__title--small {
    font-size: 1.35rem;
  
  }
}





//
// Large screen sidebar header
// ==========================================================================
@media (min-width: $bp-large) {

  .header {
    @include flex(column, space-between, flex-start);

    background: $white;
    text-align: left;

    position: fixed;
    top: 0;

    height: 100vh;
    max-height: 675px;
    max-width: 180px;
    // border-right: solid 1px $light-grey;
    padding: 2rem 0;
  }


  .header__logo {
    margin-left: 36px;
    // align-self: center;
  }
  
  
  .header__title {
    line-height: 1;
    font-size: 2rem;
  }


  .header__nav {
    display: block;
    text-align: left;

    a {
      display: inline-block;
      position: relative;
    }


    li {
      border-left: 2px $silver solid;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }


    li:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }


  .header__nav a::after {
    content: "";
    position: absolute;
    // top: 0;
    bottom: 0;
    left: -0.5rem;
    display: block;
    background: $silver;
    height: 19px;
    height: 2px;
    width: 0;
    transition: $transition;
    z-index: -1;
  }
  
  .header__nav a:hover::after {
    width: calc(100% + 0.5rem);
  }


  .nav--galleries {
    margin-top: auto;
    margin-bottom: 3rem;
  }
}