// -----------------------------------------------------------------------------
// Photo overlay component styles
// -----------------------------------------------------------------------------



.overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


.overlay--active {
  display: grid;
  justify-content: center;
  align-items: center;
}


.overlay__inner {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}


.overlay__img {
  background-color: $white;
  max-width: calc(95vw - 70px);
  height: auto;
  max-height: calc(95vh - 20px);
  margin: 0 auto;
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  opacity: 0;
}


.overlay__img--active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}


.overlay__close {
  background: center / 15px no-repeat url("../../../images/close.svg");
  border-radius: 50%;
  padding: 15px;
  right: 15px;
  top: 15px;
}

.overlay__next,
.overlay__prev,
.overlay__close {
  background-color: $white;
  position: absolute;
  opacity: 0.65;
  transition: $transition opacity;

  @include on-event {
    opacity: 1;
  }
}

.overlay__next,
.overlay__prev {
  top: 50%;
  padding: 30px 18px;
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.overlay__next {
  right: 15px;
  background-image: url("../../../images/next-arrow.svg");
}

.overlay__prev {
  left: 15px;
  background-image: url("../../../images/previous-arrow.svg");
}


// @media (max-width: $bp-medium) {
//   .overlay--active {
//     display: none;
//   }
// }


@media (min-width: $bp-xlarge) {
//  .overlay__close { right: 5%; }
  .overlay__next { right: 5%; }
  .overlay__prev { left: 5%; }
}