// -----------------------------------------------------------------------------
// Application-wide Sass/CSS variables.
// -----------------------------------------------------------------------------

// Fonts
$ff-body: 'Josefin Sans', sans-serif;
$ff-primary: 'Josefin Slab', serif;

/*
image sizes
220kb - 825px x 550px
        700px x 1050px


400 to 700kb - 1920 x 1080px


60 to 170 to 256kb - 768 x 1024px
*/


// Copy text color
$rich-black: #051720;
$dark-grey: #3A4141;
$mid-grey: #5B5D5D;
$light-grey: #A1A1A1;
$silver: #CCCCCC;
$white: #ffffff;



// Container's maximum width
$max-width: 1600px;



// Breakpoints
  $bp-small: 320px;
  $bp-medium: 768px;
  $bp-large: 1024px;
  $bp-xlarge: 1360px;



  // Transitions
  $transition: ease-in-out 250ms;